NEXT_PUBLIC_SUPABASE_URL="sb_publishable_EUq77iFQj4OuIcG8z_vv4A_4SC2_vjQ"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im50cWh6cXZub2RyYWVhZGRtY2RwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2NzcyNzUsImV4cCI6MjA4OTI1MzI3NX0.VXZ91OFJq5BkPM0V9HSPBXMfZbMNoW3oZPBb79WN0Ok"

